:root{
    --background-cafe-oscuro: rgb(35, 28, 25);
    --background-cafe-claro: rgb(74, 57, 51);
    --background-beige: rgb(230, 213, 184);
    --background-beige-claro: rgb(250, 246, 239);
    --background-naranja: rgb(228, 88, 38);
  }